<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>editList</title>
</head>
<body>

    {% for edit in object_list %}
        <p>Nome = {{ edit.nome }}</p>
        <p>Endereço = {{ edit.endereco }}</p>
        <p>Telefone = {{ edit.telefone }}</p>
        <p> Data nascimento = {{ edit.data_nascimento }}</p>
        <br>
    {% endfor %}
</body>
</html>